<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top"> Chúng tôi là <span> autocar shop</span></h2>
                <p> Giới thiệu về shop của chúng tôi</p>
                <p>Đến với thế giới sản phẩm, ô tô của chúng tôi, sẽ mang lại cho quý khách hàng những trải nghiệm tốt , độc đáo và hấp dẫn cho từng trải nghiệm của khách hàng</p>
                <p>Những mẫu sản phẩm , dịch vụ chính hãng giá tốt dành cho xế yêu của bạn luôn luôn được chúng tôi cập nhật mỗi ngày</p>
                <a class="btn hvr-hover" href="#">Đọc thêm</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Cập nhật liên tục</h3>
                    <p>Những mẫu mã độc đáo, đa dạng và phong phú được cập nhật hàng ngày</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chất lượng đảm bảo</h3>
                    <p>Không chỉ riêng mẫu mã đẹp mà còn luôn luôn đi cùng với chấp lượng, Chất lượng dịch vụ là yếu tố hàng đầu tại cửa hàng chúng tôi
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Giá cả phải chăng</h3>
                    <p>Chúng tôi có những sản phẩm thuộc các phân khúc khác nhau, tùy thuộc vào nhu cầu của khách hàng</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>